@page "/ProductInfo/{productId}"
@inject IHttpClientFactory HttpClientFactory

<h3>ProductInfo</h3>

<div class="container">
	<img src="@Product.BannerUrl" alt="" />
	<div class="row">
		<div class="col-6">
			<img class="rounded-2" src="@Product.ImageUrl" alt="@Product.Description"/>
		</div>
		<div class="col-6 mt-4">
			<div class="card border-0">
				<h2 class="card-header bg-dark text-light">@Product.Name</h2>
			</div>
			<div class="card-body">
				<h5 class="card-title text-light">@Product.Price Kr</h5>
				<a href="#" class="btn" style="background-color: #ff5400">Add to cart</a>
			</div>

		</div>

	</div>
	<div class="row">
		<div class="col-6 mt-4">
			<h4 class="text-light">About the Game</h4>
			<p class="text-light">@Product.Description</p>
		</div>
	</div>


</div>
