@page "/ProductInfo/{ProductId}"
@using GamesCorner.Client.Services.CartService
@inject IHttpClientFactory HttpClientFactory
@inject ICartService CartService
@inject AuthenticationStateProvider AuthenticationStateProvider


<div class="page align-content-center justify-content-center" style="background-image: url(@Product.BannerUrl); background-repeat: no-repeat;">
	<div class="container">
		<div class="row pt-5"></div>
		<div class="row pt-5"></div>
		<div class="row pt-5"></div>
		<div class="row flex-wrap pb-4">
			<div class="col-md-4">
				<div class="card-img">
					<img class="rounded-2 img-fluid" src="@Product.ImageUrl" alt="" />
				</div>
			</div>
			<div class="col-md-4"></div>
			<div class="col-md-4" style="height: 100%"> 
				<div class="card bg-dark bg-opacity-75 rounded-2">
					<div class="card-header border-0 h2 text-light">@Product.Name</div>
					<div class="text-center h3 text-light">3/5 Stars</div>
					@if (Product.InStock == true)
					{

						<div class="card-body text-light">In stock</div>
						<div class="card-body h5 card-title text-light">@Product.Price Kr</div>
						<button href="/ShoppingCart" class="btn btn-primary @(cartText == "Added to cart" ? "btn-lg" : "")" style="@(cartText == "Added to cart" ? "background-color: green;" : "background-color: orangered;")" @onclick="AddProductToCart">@cartText</button>
					}
					else
					{
						<div class="card-body text-light">Out of stock</div>
					}
				</div>
			</div>
		</div>
		<div class="row p-5">
			<div class=" text-light bg-dark rounded-3 p-4">
				<h3>About the Game</h3>
				<p>@Product.Description</p>
			</div>
		</div>

		<div class="row p-5">
			<div class="text-light bg-black bg-opacity-25 rounded-3 p-4">
				<h3>Reviews</h3>
				<div class="justify-content-center align-content-center">
					<p>Average Score Goes here</p>
				</div>
			</div>
		</div>

		<div class="container d-flex justify-content-center align-items-start flex-wrap p-5 ">
			
			@if (Reviews is null)
			{
				<div>Leave your review here!</div>
			}
			else
			{
			    @foreach (var review in Reviews)
			    {
@*			        <div class="row">
                        <div class="card border-0 m-2 col-3 bg-black bg-opacity-25">
                            <div class="card-header d-flex m-1 text-light">@review.UserEmail @review.CreatedDateTime</div>
                            <div class="card-body">
                                <h6 class="card-title text-light">@review.Content</h6>
                                <h8 class="card-text text-light">Amount of stars</h8>
                            </div>
                        </div>
                    </div>*@


			        <div class="row text-center">
                        <div class="col-md-4 mb-4 mb-md-0">
                            <div class="card">
								<div class="card-header">@review.UserEmail    @review.CreatedDateTime</div>
                                <div class="card-body py-4 mt-2">
                                    <div>@GetStarRating(@review.Rating)</div>
                                    <p class="mb-2">
                                        <i class="fas fa-quote-left pe-2"></i>@review.Content
                                        <i class="fas fa-quote-right pe-2"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
			    }  
			}
                
		</div>
	</div>

</div>

